{
  "presets": [["stage-2"],["es2015",{ "modules": false }]],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    [
      "transform-runtime",
      "transform-object-rest-spread"
    ]
  ]
}