$bgColor: var(--myBgColor ,#EC4141);
$fontColor: var(--myFontColor ,#373737);
$bodyColor: var(--myBodyColor, #fff);
$themeColor: var(--mythemeColor, #2B2B2B);
$hoverColor: var(--myhoverColor, #f5f5f5);